<div class="content">
      <h2>Live Tracker</h2>

      <div class="busMap">
        <img class="diagram" src="images/bus_floor_plan.jpg" alt="Bus Floor Plan" border="5%">
        <img id="seat0" src="images/red_x.png" alt="Occupied">
        <img id="seat1" src="images/red_x.png" alt="Occupied">
        <img id="seat2" src="images/red_x.png" alt="Occupied">
        <img id="seat3" src="images/red_x.png" alt="Occupied">
      </div>

      <h3>Bus 18A</h3>
      <h3>Line 30</h3>
      <h3>At stop: 5</h3>
      <button class="collapsible" id="availableSeats">Available Seats:</button>
      <div class="collapseContent">
        <p id="normalSeats">Normal Seats:</p>
        <p id="prioritySeats">Priority Seats:</p>
      </div>

    </div>

    <div class="footer">
      <a href="/mobile">Switch to mobile version</a>
    </div>

<script src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js'></script>
<script src="javascripts/main.js"></script>
