<div class="topnav">
      <a href="#">Link</a>
      <a href="#">Link</a>
      <a href="#">Link</a>
    </div>

    <div class="content">
      <h2>Live Tracker</h2>
      <div style="position:relative">
        <img src="images/bus_floor_plan.jpg" alt="Bus Floor Plan" border="5">
        <img src="images/red_x.png" alt="Occupied" width="20" height="20" style="position:relative; left:446px; top:-49px">
      </div>
    </div>

    <div class="footer">
    </div>

    <script src="scripts/main.js"></script>
