<!-- Navbar -->
<div class="topnav">
    <a href="/">Home</a>
</div>

<img src='images/buss.jpg' style="width:100%">

<div class="contentMobile">

    <h2>Live Tracker</h2>
    <h3><p id="busNumber">Bus Number:</p></h3>
    <h3><p id="lineNumber">Line Number:</p></h3>
    <h3><p id="busDirection">To:</p></h3>
    <h3><p id="busStop">Stop:</p></h3>

    <button class="collapsible" id="availableSeats">Available Seats:</button>
    <div class="collapseContent">
        <p id="normalSeats">Normal Seats:</p>
        <p id="prioritySeats">Priority Seats:</p>
    </div>

    <div class="busMap" style="overflow:visible">
        <img class="diagramMobile" src="images/bus_floor_plan.jpg" alt="Bus Floor Plan" border="5%">
        <img id="seat0Mobile" src="images/red_x.png" alt="Occupied">
        <img id="seat1Mobile" src="images/red_x.png" alt="Occupied">
        <img id="seat2Mobile" src="images/red_x.png" alt="Occupied">
        <img id="seat3Mobile" src="images/red_x.png" alt="Occupied">
    </div>

</div>

<div class="footer">
    <a href="/tracker">Switch to desktop version</a>
</div>

<script src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js'></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="javascripts/main.js"></script>
