:root {
  --sky-blue-color: #7ad7f0;
  --ghost-white-color: #f5fcff;
}

* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

html, body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  height: 100%;
  overflow-x: hidden;
}

h2 {
  text-align: center;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #333;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: var(--ghost-white-color);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: var(--sky-blue-color);
  /*color: black;*/
}

/* Style the content */
.content {
  background-color: #ddd;
  padding: 10px;
}

.contentMobile {
  background-color: #ddd;
  padding: 10px;
  height: 1250px;
}

/* Style the footer */
.footer {
  background-color: #f1f1f1;
  padding: 10px;
}

.busMap {
  position: relative;
  top: 0;
  left: 0;
  overflow: hidden;
}

.diagram {
  position: relative;
}

.diagramMobile {
  position: relative;
  top: 420px;
  left: -330px;
  transform: rotate(90deg);
}

#seat0 {
  position: absolute;
  top: 160px;
  left: 732px;
  max-height: 10%;
}

#seat0Mobile {
  position: absolute;
  top: calc(732px + 13px);
  left: calc(160px - 31px);
  max-height: 10%;
}

#seat1 {
  position: absolute;
  top: 177px;
  left: 559px;
  max-height: 10%;
}

#seat1Mobile {
  position: absolute;
  top: calc(560px + 13px);
  left: calc(142px - 31px);
  max-height: 10%;
}

#seat2 {
  position: absolute;
  top: 20px;
  left: 433px;
  max-height: 10%;
}

#seat2Mobile {
  position: absolute;
  top: calc(433px + 13px);
  left: calc(300px - 31px);
  max-height: 10%;
}

#seat3 {
  position: absolute;
  top: 141px;
  left: 312px;
  max-height: 10%;
}

#seat3Mobile {
  position: absolute;
  top: calc(159px + 13px);
  left: calc(162px - 31px);
  max-height: 10%;
}

.hidden {
  visibility: hidden;
}
